/* MIXINS */
@mixin boxShadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* enable sign up button? */
// NOT IF LOGO IS TOO WIDE
.d-header button.sign-up-button {
//    display: none;
}

/* LOGIN */
button#login-link, button#new-account-link {
    background: transparent;
    color: #4caa6f;
    border: 1px solid #4caa6f;
}


// FAQs
.mobile-view .body-page {
    line-height: 1.618;

    .nav-pills > li > a {
        font-size: 1em;
    }
}

// TOPIC LISTS
.topic-list th, .topic-list td {
    padding: 14px 0;
}

/***********************************************
*
*    BANNER STUFF
*
************************************************/

//MOBILE DEVICES

@media only screen and (min-device-width: 320px) and (max-device-width: 800px) {
    .col2, .col3, .col4 {
        width: 90%;
    }
    .feature-list {
        text-align: center;
    }
    .banner-box .container {
        max-width: 90%;
    }
}
