/* MIXINS */

@mixin buttonShadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1), background-color .2s cubic-bezier(.4,0,.2,1), color .2s cubic-bezier(.4,0,.2,1);
}

@mixin boxShadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

/* FONT WEIGHT ADJUSTMENTS */

strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.select-kit.combo-box.category-drop .select-kit-row .badge-wrapper {
    font-weight: 600;
}

.badge-wrapper {
    font-weight: 600;
}



/* HEADER */
.d-header {
    box-shadow: none;
}


/* BUTTONS */
.btn {
  border-radius: 3px;
}

/* CATEGORY BULLETS */
.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {
    width: 9px;
    height: 9px;
    margin-right: 5px;
    display: inline-block;
    border-radius: 50%;
}
