/* MIXINS */

@mixin buttonShadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1), background-color .2s cubic-bezier(.4,0,.2,1), color .2s cubic-bezier(.4,0,.2,1);
}

@mixin boxShadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

html {
    font-family: 'Source Sans Pro', sans-serif;
}

/* FONT WEIGHT ADJUSTMENTS */

strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
}

.select-kit.combo-box.category-drop .select-kit-row .badge-wrapper {
    font-weight: 600;
}

.badge-wrapper {
    font-weight: 600;
}

.topic-list .num a.badge-posts {
    font-weight: 600;
}

.names span.first {
    font-weight: 600;
}

.select-kit.dropdown-select-box .select-kit-row .texts .name {
    font-weight: 600;
}

/* LINE HEIGHT ADJUSTMENTS */
.cooked,
.d-editor-preview {
    line-height: 1.618;
}

// FAQs


/* LINK COLOURS */
// visited links
.topic-list-item.visited a.title:not(.badge-notification),
.latest-topic-list-item.visited a.title:not(.badge-notification),
.category-topic-link.visited a.title:not(.badge-notification) {
    color: #9190AC;
}


/* HEADER */
.d-header {
    box-shadow: none;
}

.d-header-icons .unread-notifications {
    background-color: #C91432;
}

/* BUTTONS */
.btn {
  border-radius: 3px;
  text-transform: uppercase;
}

.btn .no-icon .btn-text {

}

/* CATEGORY BULLETS */
.badge-wrapper.bullet .badge-category-parent-bg, .badge-wrapper.bullet .badge-category-bg {
    border-radius: 50%;
}


/* FORM ELEMENTS */
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    border: 1px solid #9FD9B4;
}


/* TOPICS */

// TOPIC MAP
span.post-count {
    background: #C91432;
}

.topic-list .topic-excerpt {
    line-height: 1.618;
}

/***********************************************
*
*    BANNER STUFF
*
************************************************/
/*-------------------------------------------------
   VARIABLES: choose the colors of your banner
-------------------------------------------------*/

$main-color: #5270FE;
$background-color: #BFD7FF;

/*---------------------------------------
   SECTION:  BOXES
-----------------------------------------*/

.section-header {
    padding-bottom: 20px;
    h2 {
        margin-bottom: 20px;
    }
}

.banner-box {
    margin-bottom: 18px;
    background-image: url("http://www.feedletwo.com/hudl/banner-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: $background-color; /* to be sure that even if the image above will not be loaded there will be at least a colored background */
    background-attachment: fixed;
}

.x-title {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    text-align: center;
    color: $main-color;
}

.description p {
    margin-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
}

.banner-box .single-box {
    padding-bottom: 20px;
    .x-icon {
        font-size: 70px;
    }
}


//COLUMNS MANAGEMENT

.col3 {
    width: 30%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col2 {
    width: 45%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.col4 {
    width: 22.5%;
    float: left;
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}

.container::after, .row::after {
    clear: both;
}

.col2, .col3, .col4 {
    text-align: center;
}

.row::after {
    content: " ";
    display: table;
}

//ICON AND BOX HEADING COLOR

.banner-box .single-box .x-icon, .single-box h3 {
    color: $main-color;
}

//BOX HEADING POSITIONING

.banner-box .single-box h3 {
    margin-top: 20px;
    text-align: center;
}

//COLORED LINE

.colored-line {
    margin: auto;
    width: 165px;
    height: 1px;
    background: $main-color;
}

//SINGLE BOX, TEXT ALIGNMENT

.box p {
    text-align: center;
}

//TEXT ALIGNMENT INSIDE BUTTONS

#my-button {
    text-align: center;
    padding-bottom: 5px;
}

//IMAGE SIZE AS ICON SIZE

.responsive-img {
    border-style: none;
    border-width: 1px;
    height: 70px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

//LIST ALIGNMENT

.feature-list {
    text-align: center;
    list-style-type: none;
}


//BUTTON BACKGROUND

.col2, .col3, .col4 {
    .btn.btn-icon-text.ember-view {
        background: $main-color;
    }
}

//CLOSE BUTTON ON THE TOP RIGHT

.banner-box .close {
    border: none;
    background: transparent;
    padding-top: 5px;
    float: right;
}

//MAKE IT A FULL WIDTH BANNER

.banner-box .container {
    max-width: 70%;
    margin: 0 auto;
}
.banner-box {
    margin-left: calc(-50vw + 50%);
    margin-right: calc(-50vw + 50%);

}
#main-outlet {
    padding-top: 64px; /*this value must be changed if the height of the header has been changed*/
}
.navigation-container,
.alert.alert-info {
    margin-top: 18px;
    margin-bottom: 0px;
}
