/* VARIABLES */
$white: #FFFFFF;

/* MIXINS */

@mixin buttonShadow {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    will-change: box-shadow;
    transition: box-shadow .2s cubic-bezier(.4,0,1,1), background-color .2s cubic-bezier(.4,0,.2,1), color .2s cubic-bezier(.4,0,.2,1);
}

@mixin boxShadow {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/* BASE STYLES */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
    font-family: sans-serif;

    // set base font size
    font-size: 14px;
    @media (min-width: 768px) {
        font-size: 16px;
    }
    @media (min-width: 992px) {
        font-size: 18px;
    }

    line-height: 1.15;

    -webkit-text-size-adjust: 100%;
       -moz-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
            text-size-adjust: 100%;

    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@-ms-viewport {
  width: device-width;
}


/* TYPOGRAPHY */
//use Source Sans Pro


body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    line-height: 1.618;
    font-weight: 300;
    text-align: left;
}

body button,
body input,
body select,
body textarea {
  font-family: 'Source Sans Pro', sans-serif;
}

body code,
body kbd,
body pre,
body samp {
  font-family: 'Source Code Pro', monospace;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 0.5px;
}

h1, #topic-title h1, .body-page h1, .styleguide .styleguide-section .section-title {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0;
    line-height: 1.2;
}

.names span.first {
    font-weight: 600;
}

/* BUTTONS */
// rounded basic buttons
.btn {
    border-radius: 3px;
    background: #d8d8d8;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.875rem;
    letter-spacing: 1px;

    &:hover {
        background: #c0c0c0;
        color: #343C3D; // no change
    }
}

.btn.btn-danger {
    background: #C91432;

    &:hover {
        background: #b4122d;
        color: #F0F0F0; // no change
    }
}


/*
.btn {
    border-radius: 3px;
    background: #A1D5B4;
    text-transform: uppercase;
    @include buttonShadow;

    &:hover {
        background: #90CDA6;
        color: #343C3D;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    }

    &:active {
        background: #90CDA6;
        box-shadow: 0 4px 5px 0 rgba(0,0,0,.14),0 1px 10px 0 rgba(0,0,0,.12),0 2px 4px -1px rgba(0,0,0,.2);
    }
}

.btn.btn-danger {
    background: #C91432;
}
*/

/* HEADER */
.d-header {
    box-shadow: none;
    height: 63px;
}

.d-header #site-logo {
    max-height: 39px;
}

.d-header-icons .d-icon {
    font-size: 24px;
    line-height: 1;
}

.d-header-icons .icon {
    width: 40px;
    height: 40px;
    padding: 3px;
}

.d-header-icons .icon img.avatar {
    width: 31px;
    height: 31px;
}







/* TOPIC POSTS */
.topic-avatar {
    position: absolute;
    width: 36px;
    top: 28px;
    left: 18px;
    border-top: 0;
    padding-top: 0;
    float: none;
}

.topic-avatar .avatar {
    height: 36px;
    width: 36px;
}

.topic-body {
    float: none;

    @include boxShadow;
    background-color: #fff;
    border: 0;
    border-radius: 0px;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 6px;
}

.topic-meta-data {
  padding: 10px 16px 0 68px;  
  min-height: 58px;
}

.topic-body .regular {
    margin: 20px 20px 0 20px;
}





.extra-info h1 {
    margin: 5px 0 0 0;
    font-size: 21px;
    line-height: inherit;
    width: 100%;
    color: red;
}

/* PANELS */
.table, .topic-list, .category-list, .latest-topic-list, .directory table, .groups-table, .admin-contents table:not(.pika-table) {
    background-color: $white;
    border: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.4);
    margin-bottom: 16px;
    max-width: 100%;
    width: 100%;
}

tbody {
    border-top: 0;
}

.table tbody tr, .topic-list > tbody > tr, .topic-list > thead > tr, .category-list > tbody > tr, .category-list > thead > tr, .latest-topic-list .table-heading, .latest-topic-list-item, .directory table tbody tr, .groups-table tbody tr, .user-main .user-content .user-invite-list tr, .admin-contents table:not(.pika-table) tr {
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.table thead td,
.table thead th, .topic-list thead td,
.topic-list thead th, .category-list thead td,
.category-list thead th, .latest-topic-list .more-topics,
.latest-topic-list .table-heading, .directory table thead td,
.directory table thead th, .groups-table thead td,
.groups-table thead th, .user-main .user-content .user-invite-list th, .admin-contents table:not(.pika-table) thead td,
.admin-contents table:not(.pika-table) thead th, .permalinks .col.heading,
.screened-emails .col.heading,
.screened-ip-addresses .col.heading,
.screened-urls .col.heading,
.search-logs-list .col.heading,
.staff-actions .col.heading,
.web-hook-events .col.heading {
    color: #343C3D;
    font-size: 1rem;
    height: 56px;
    padding: 12px 12px;
    vertical-align: middle;
}


.deleted .topic-body {
  background-color: transparent;
  opacity: 0.5;
}

/* CATEGORY LISTS */

// Category list header
h6,
div.poll .poll-info .info-text,
.select-kit.dropdown-select-box .select-kit-row .texts .name,
.category-list tbody .category h3,
.small-action .small-action-desc,
.topic-map h3,
.settings .setting h3 {

    color: red;

}

.category-list thead td:first-of-type,
.category-list thead th:first-of-type {
    padding-left: 24px;
}
.category-list thead td:last-of-type,
.category-list thead th:last-of-type {
    padding-right: 24px;
}

.category-list tbody td:first-of-type,
.category-list tbody th:first-of-type {
  padding-left: 24px;
}

.category-list tbody td:last-of-type,
.category-list tbody th:last-of-type {
  padding-right: 24px;
}

.category-list tbody .category {
  border-left-width: 2px;
}

.category-list thead th {
    font-weight: 400;
    white-space: nowrap;
}

/* POSTS */
.cooked, .d-editor-preview {
    line-height: inherit;
}


/* FORM ELEMENTS */
.select-kit.combo-box .select-kit-header {
    background: $white;
}

.select-kit {
    .select-kit-collection {
        background: $white;
    }
}

/* ADMIN LAYOUT */
